.headline.px-5.border-b
  .container.mx-auto.flex.justify-between
    .flex.flex-col.justify-center
      | Saturday, March 16, 2019
    .self-end
      .icons.text-xl.lg--text-3xl
        a.text-vk.no-underline(href='https://vk.com/cityinfokz', rel='noreferrer noopener', target='_blank')
          i.fab.fa-vk
        a.text-twitter.no-underline.mx-4(href='https://twitter.com/cityinfo_kz', rel='noreferrer noopener', target='_blank')
          i.fab.fa-twitter
        a.text-instagram.no-underline(href='https://www.instagram.com/cityinfo.kz/', rel='noreferrer noopener', target='_blank')
          i.fab.fa-instagram