.navbar.bg-black.flex.justify-between.border-t-4.border-lightseagreen.h-10.lg--h-auto.flex-row
  .flex.lg--hidden
    button.nav-toggle.appearance-none.mx-2(type='button')
      svg.fill-current.text-white.w-6.h-6(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20')
        path(d='M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z')
  nav.hidden.lg--flex.nav.z-10.absolute.mt-8.lg--relative.lg--mt-0
    ul.list-reset.lg--flex.block.font-semibold.uppercase.bg-black
      li.block
        a.block.px-4.py-3.text-white.no-underline(class='hover--bg-lightseagreen', href='/')
          | Главная
      li.block
        a.block.px-4.py-3.text-white.no-underline(class='hover--bg-lightseagreen', href='/exchange.html')
          | Курсы валют
      li.block
        a.block.px-4.py-3.text-white.no-underline(class='hover--bg-lightseagreen', href='#')
          | Изготовление
          | Карт-схем
      li.block
        a.block.px-4.py-3.text-white.no-underline(class='hover--bg-lightseagreen', href='#')
          | Расписание
          | транспорта
  .flex.flex-col.justify-center.flex-grow
    .search.flex.justify-end.mr-4
      form.flex.justify-end(action='')
        input.px-2.py-1(placeholder='Поиск...', type='search')
        button.text-white.mx-2(title='Поиск', type='submit')
          i.fa.fa-search.text-xl
        a.text-white.no-underline.flex.self-center(href='#', title='Личный кабинет')
          i.fa.fa-user.text-xl