script(crossorigin='anonymous', integrity='sha256-pau+EjagELvmW7XoDOgz4DCKHep0GuC+kw6U8GQKo94=', src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js')
script.
  document.addEventListener('DOMContentLoaded', function () {
    tns({
      container: '.my-slider',
      slideBy: 'page',
      autoplay: true,
      mouseDrag: true,
      swipeAngle: false,
      controls: false,
      nav: false,
      autoplayButtonOutput: false,
      autoplayTimeout: 10000
    })
  })