extends layout/base.pug

block content
  .w-full.p-4(class='sm--w-1/2')
    .my-slider
      .relative
        a.no-underline(href='#')
          img.object-contain(alt='', src='https://contrattiinternazionalidimarcobianchi.it/wp-content/uploads/2015/04/portfolio-image-1.jpg')
          .slide-text.absolute.text-white
            h3 Какой-то заголовок
      .relative
        a.no-underline(href='#')
          img.object-contain(alt='', src='https://avatars.mds.yandex.net/get-pdb/911433/25718402-8060-4f3f-bb6e-6f00879318e7/s1200?webp=false')
          .slide-text.absolute.text-white
            h3 Совершенно другой заголовок
      .relative
        a.no-underline(href='#')
          img.object-contain(alt='', src='http://27.al/wp-content/uploads/2016/10/lodhh.jpg')
          .slide-text.absolute.text-white
            h3 Совершенно уникальный другой заголовок
  .w-full.flex.flex-col.p-4(class='sm--w-1/2')
    a.block.no-underline.bg-black.w-full.p-12.text-white.text-center.text-3xl.main-courses(href='#')
      | Курсы валют
    a.block.no-underline.bg-red.w-full.p-12.text-white.text-center.mt-6.text-3xl.main-atameken(href='#')
      | Новости «Атамекен»
  .text-center(class='w-1/2 sm--w-1/3 md--w-1/6')
    .bg-grey-light.m-2.p-2
      a.no-underline.text-black(href='#')
        i.fas.fa-map-marked-alt.text-5xl.text-red
        h4.my-2 Карта
        p Изготовление, печать
  .text-center(class='w-1/2 sm--w-1/3 md--w-1/6')
    .bg-grey-light.m-2.p-2
      a.no-underline.text-black(href='#')
        i.fas.fa-gas-pump.text-5xl.text-blue
        h4.my-2 Бензин
        p Цены на бензин, диз. топливо, газ
  .text-center(class='w-1/2 sm--w-1/3 md--w-1/6')
    .bg-grey-light.m-2.p-2
      a.no-underline.text-black(href='#')
        i.fas.fa-bus-alt.text-5xl.text-orange
        h4.my-2 Расписание транспорта
  .text-center(class='w-1/2 sm--w-1/3 md--w-1/6')
    .bg-grey-light.m-2.p-2
      a.no-underline.text-black(href='#')
        i.far.fa-money-bill-alt.text-5xl.text-indigo
        h4.my-2 Банкоматы на карте
  .text-center(class='w-1/2 sm--w-1/3 md--w-1/6')
    .bg-grey-light.m-2.p-2
      a.no-underline.text-black(href='#')
        i.far.fa-calendar-alt.text-5xl.text-pink
        h4.my-2 Афиша
  .text-center(class='w-1/2 sm--w-1/3 md--w-1/6')
    .bg-grey-light.m-2.p-2
      a.no-underline.text-black(href='#')
        i.fas.fa-phone-square.text-5xl.text-teal
        h4.my-2 Коды городов

block scripts
  script(crossorigin='anonymous', integrity='sha256-pau+EjagELvmW7XoDOgz4DCKHep0GuC+kw6U8GQKo94=', src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js')
  script.
    document.addEventListener('DOMContentLoaded', function () {
      tns({
        container: '.my-slider',
        slideBy: 'page',
        autoplay: true,
        mouseDrag: true,
        swipeAngle: false,
        controls: false,
        nav: false,
        autoplayButtonOutput: false,
        autoplayTimeout: 10000
      })
    })