{% extends "layout/base.njk" %}
{% block content %}
    <div class="w-full p-4  sm:w-1/2">
        <div class="my-slider">
            <div class="relative">
                <a class="no-underline" href="#">
                    <img alt="" class="object-contain"
                         src="https://contrattiinternazionalidimarcobianchi.it/wp-content/uploads/2015/04/portfolio-image-1.jpg"/>
                    <div class="slide-text absolute text-white">
                        <h3>Какой-то заголовок</h3>
                    </div>
                </a>
            </div>
            <div class="relative">
                <a class="no-underline" href="#">
                    <img alt="" class="object-contain"
                         src="https://avatars.mds.yandex.net/get-pdb/911433/25718402-8060-4f3f-bb6e-6f00879318e7/s1200?webp=false"/>
                    <div class="slide-text absolute text-white">
                        <h3>Совершенно другой заголовок</h3>
                    </div>
                </a>
            </div>
            <div class="relative">
                <a class="no-underline" href="#">
                    <img alt="" class="object-contain"
                         src="http://27.al/wp-content/uploads/2016/10/lodhh.jpg"/>
                    <div class="slide-text absolute text-white">
                        <h3>Совершенно уникальный другой заголовок</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col p-4  sm:w-1/2">
        <a class="block no-underline bg-black w-full p-12 text-white text-center text-3xl main-courses" href="#">
            <span class="p-2">Курсы валют</span>
        </a>
        <a class="block no-underline bg-red w-full p-12 text-white text-center mt-6 text-3xl main-atameken" href="#">
            <span>Новости «Атамекен»</span>
        </a>
    </div>
    <div class="text-center w-1/2  sm:w-1/3 md:w-1/6">
        <div class="bg-grey-light m-2 p-2">
            <a class="no-underline text-black" href="#">
                <i class="fas fa-map-marked-alt text-5xl text-red"></i>
                <h4 class="my-2">Карта</h4>
                <p>Изготовление, печать</p>
            </a>
        </div>
    </div>
    <div class="text-center w-1/2  sm:w-1/3 md:w-1/6">
        <div class="bg-grey-light m-2 p-2">
            <a class="no-underline text-black" href="#">
                <i class="fas fa-gas-pump text-5xl text-blue"></i>
                <h4 class="my-2">Бензин</h4>
                <p>Цены на бензин, диз. топливо, газ</p>
            </a>
        </div>
    </div>
    <div class="text-center w-1/2  sm:w-1/3 md:w-1/6">
        <div class="bg-grey-light m-2 p-2">
            <a class="no-underline text-black" href="#">
                <i class="fas fa-bus-alt text-5xl text-orange"></i>
                <h4 class="my-2">Расписание транспорта</h4>
            </a>
        </div>
    </div>
    <div class="text-center w-1/2  sm:w-1/3 md:w-1/6">
        <div class="bg-grey-light m-2 p-2">
            <a class="no-underline text-black" href="#">
                <i class="far fa-money-bill-alt text-5xl text-indigo"></i>
                <h4 class="my-2">Банкоматы на карте</h4>
            </a>
        </div>
    </div>
    <div class="text-center w-1/2  sm:w-1/3 md:w-1/6">
        <div class="bg-grey-light m-2 p-2">
            <a class="no-underline text-black" href="#">
                <i class="far fa-calendar-alt text-5xl text-pink"></i>
                <h4 class="my-2">Афиша</h4>
            </a>
        </div>
    </div>
    <div class="text-center w-1/2  sm:w-1/3 md:w-1/6">
        <div class="bg-grey-light m-2 p-2">
            <a class="no-underline text-black" href="#">
                <i class="fas fa-phone-square text-5xl text-teal"></i>
                <h4 class="my-2">Коды городов</h4>
            </a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script crossorigin="anonymous" integrity="sha256-pau+EjagELvmW7XoDOgz4DCKHep0GuC+kw6U8GQKo94="
            src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        tns({
          container: '.my-slider',
          slideBy: 'page',
          autoplay: true,
          mouseDrag: true,
          swipeAngle: false,
          controls: false,
          nav: false,
          autoplayButtonOutput: false,
          autoplayTimeout: 10000
        })
      })
    </script>
{% endblock %}