.Row {
  cursor: pointer;
}
.Row:hover {
  background-color: #c6f6d5;
}

.PointColumn {
  width: 40%;
  text-align: center;
}

.PhonesColumn {
  width: 30%;
  text-align: center;
}

.CurrencyCell {
  width: 15%;
}

.BestBuy {
  font-weight: bold;
  color: maroon;
}

.BestSell {
  color: #0c14b2;
  font-weight: bold;
}

.Date {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Info {
  margin: 0.25rem auto;
}

.Title {
  color: rgba(0, 64, 201, 0.9);
  font-weight: 500;
  font-size: 0.9375rem;
}
