/*
.Table {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Table th {
  text-align: center;
}

.Table tbody {
  overflow-y: auto;
}

*/

.Table {

}

.Table thead {
  display: table;
  overflow: auto;
  width: auto;
}

.Table thead tr {
  position: relative;
}

.Table tbody {
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 92vh;
}

/* old styles below*/
.Table th, .Table td {
  border: 1px solid #d3d3d3;
}

.TitleRow {
  width: 500px;
}

.PhonesColumn {
  width: 130px;
  text-align: center;
}

.PointColumn {
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.CurrencyColumn {
  width: 60px;
  cursor: pointer;
}

