.PhonesColumn {
  width: 130px;
  text-align: center;
}

.PointColumn {
  width: 250px;
  text-align: center;
}

.CurrencyCell {
  width: 60px;
}

.BestBuy {
  font-weight: bold;
  color: maroon;
}

.BestSell {
  color: #0c14b2;
  font-weight: bold;
}

.Date {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Info {
  margin: .25rem auto;
}
