/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

table th {
  text-align: left;
}

.slide-text {
  left: 15px;
  bottom: 25px;
}

.courses-table {
  width: 100%;
  line-height: 1.5rem;

  th {
    padding: 0.25rem;
  }

  td,
  th {
    text-align: center;
    border: 1px solid theme('colors.gray.600');
  }
}

.course-date :first-child {
  margin-right: 1rem;
}

.course-best-sell {
  color: #0c14b2;
  font-weight: bold;
}

.course-best-buy {
  color: maroon;
  font-weight: bold;
}

.old-course-date {
  color: red;
}

.main-courses {
  background-size: cover;
  background-image: url(/images/exchange/5.jpg);
}

.main-courses,
.main-atameken,
.slide-text {
  span {
    background-color: rgba(6, 9, 5, 0.5);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
}

.main-atameken {
  background-size: cover;
  background-image: url(/images/news/1.jpg);
}

.courses-table--row-title {
  font-size: 1.125rem;
  padding: 0.5rem;
}

.search-result {
  min-height: 8rem;
  max-height: 8rem;

  img {
    max-height: 4rem;
  }
}

.company-card-logo img {
  height: 4rem;
}

.company-card-photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid theme('colors.gray.600');
  border-radius: 0.25rem;
  position: relative;
  z-index: 2;
}

.company-card-photo-counter {
  background-color: theme('colors.white');
  border-radius: 9999px;
  width: 4.5rem;
  height: 4.5rem;
  color: theme('colors.black');
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.company-card-table {
  table-layout: fixed;

  th,
  td {
    border-bottom: 1px solid theme('colors.gray.600');
    padding: 0.5rem;
    white-space: normal;
  }

  tr:last-child td,
  tr:last-child th {
    border-bottom: none;
  }
}

.company-card-map {
  height: 280px;
  margin-bottom: 1em;
}

.company-card-mode-toggle {
  border-color: theme('colors.gray.600');
}

.company-card-mode-toggle:hover {
  border-color: theme('colors.pelorous.600');
}

.company-card-mode-toggle.active {
  border-color: theme('colors.pelorous.600');
  background-color: theme('colors.pelorous.600');
  color: white;
}

.plate {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.plate--site {
  color: theme('colors.black');
  padding: 0.75rem;
}

.plate--site:hover {
  background-color: theme('colors.gray.400');
}

.plate--main-page {
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
  height: 120px;
  justify-content: center;
}

.plate--search-page {
  padding: 0.25rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100px;
  height: 75px;
  justify-content: center;
  align-items: center;

  .plate__icon {
    font-size: 1.875rem;
    margin-bottom: 0.25rem;
  }

  .plate__title {
    font-size: 0.65rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
  }
}

.plate--search {
  background-color: theme('colors.pelorous.500');
  line-height: 1.2;
  color: theme('colors.white');
}

.plate--search:hover {
  background-color: theme('colors.orange.500');
}

.plate__icon {
  font-size: 3rem;
}

.plate__title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.spinner-error-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.spinner-container {
  max-height: 78vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.spinner {
  margin: 40vh auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner-message {
  text-align: center;
  margin: -47vh auto 0;
}

.spinner--pelorous > div {
  background-color: theme('colors.pelorous.600');
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner--red > div {
  background-color: theme('colors.red.600');
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@-moz-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

@-o-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.YMap {
  width: 100%;
  height: 92vh;
}
@media (min-width: 1280px) {
  .YMap {
    height: 550px;
  }
}

ul {
  list-style: disc inside;
}

body {
  color: #4a4a4a;
}

a {
  color: theme('colors.pelorous.600');
}

.exchangeTable {
  width: 100%;
  margin-top: 1rem;

  thead {
    background-color: rgba(219, 221, 221, 0.63);
  }
  td,
  th {
    border: 1px solid theme('colors.gray.600');
  }

  th {
    padding: 0.5rem;
    text-align: center;
  }

  .title {
    width: 27%;
  }
  .phones {
    width: 20%;
  }

  tbody {
    td {
      padding: 0 0.25rem;
    }
    tr {
      &:nth-child(2n) {
        background-color: rgba(219, 221, 221, 0.63);
      }
    }
  }
}
