<!DOCTYPE html>
<html lang="en">
{% set version = 2 %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="/css/main.css?v={{ version }}" rel="stylesheet" type="text/css">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css"
          integrity="sha256-6biQaot1QLisz9KkkcCCHWvW2My9SrU6VtqJBv8ChCM=" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>
<body class="pt-3 bg-grey font-sans text-sm">
<header class="container bg-white mx-auto">
    {% include "../includes/headline.njk" %}
    {% include "../includes/showbar.njk" %}
    {% include "../includes/navbar.njk" %}
</header>
<section class="flex flex-wrap container mx-auto py-3 bg-white">
    {% block content %}
    {% endblock %}
    {% include "../includes/scripts.njk" %}
    {% block scripts %}
    {% endblock %}
</section>
</body>
</html>