<!DOCTYPE html>
<html lang="en">
{% include "../includes/head.njk" %}
<body class="pt-3 bg-grey font-sans text-sm">
<header class="container bg-white mx-auto">
    {% include "../includes/headline.njk" %}
    {% include "../includes/showbar.njk" %}
    {% include "../includes/navbar.njk" %}
</header>
<section class="flex flex-wrap container mx-auto py-3 bg-white">
    {% block content %}
    {% endblock %}
    {% include "../includes/scripts.njk" %}
    {% block scripts %}
    {% endblock %}
</section>
</body>
</html>