<div class="banners flex flex-col w-full lg:w-1/6 py-4 items-center">
    <img class="mb-2" height="auto" src="https://www.cityinfo.kz/assets/images/exchange/telegram/telegram-exchange-rates.jpg" width="180px"/>
    <img class="mb-2" height="270px" src="https://www.cityinfo.kz/assets/images/reclama_banners/Dental-Service.png" width="180px"/>
    <img class="mb-2" height="270px" src="https://www.cityinfo.kz/assets/images/reclama_banners/femina.png" width="180px"/>
    <img class="mb-2" height="270px" src="https://www.cityinfo.kz/assets/images/reclama_banners/stomatologiydlyvas1.png" width="180px"/>
    <img class="mb-2" height="270px" src="https://www.cityinfo.kz/assets/images/reclama_banners/3217.png" width="180px"/>
</div>