<div class="headline px-5 border-b">
    <div class="container mx-auto flex justify-between">
        <div class="flex flex-col justify-center">
            Saturday, March 16, 2019
        </div>
        <div class="self-end">
            <div class="icons text-xl lg:text-3xl">
                <a href="https://vk.com/cityinfokz"
                   class="text-vk no-underline"
                   rel="noreferrer noopener"
                   target="_blank"
                >
                    <i class="fab fa-vk"></i>
                </a>
                <a href="https://twitter.com/cityinfo_kz"
                   class="text-twitter no-underline mx-4"
                   rel="noreferrer noopener"
                   target="_blank"
                >
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/cityinfo.kz/"
                   class="text-instagram no-underline"
                   rel="noreferrer noopener"
                   target="_blank"
                >
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>
