<div class="show-bar">
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-between p-4">
      <div class="logo w-full text-center  sm:w-1/2  sm:text-left">
        <a href="/">
          <img class="logo " src="https://www.cityinfo.kz/assets/components/cityinfo/images/logov3.png"/>
        </a>
      </div>
      <div class="w-full text-center  sm:w-1/2  sm:text-right">
        <a href="#">
          <img src="https://www.cityinfo.kz/assets/banners/Kiv/anigif%203.gif"/>
        </a>
      </div>
    </div>
  </div>
</div>