{% set photos = item.photos %}
{% set placeholder = "" %}
<div class="w-full lg:w-1/2">
    <div
      class="company-card-photo-wrapper lg:ml-2"
      style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), white url(/images/placeholders/company-card.jpg)"
    >
        <div id="show-photos" class="company-card-photo-counter flex-col leading-none {% if photos %}cursor-pointer{% endif %}">
            {% if photos %}
                <a class="no-underline text-lg text-black">{{ photos | length }}</a>
                <span class="text-xs">фото</span>
            {% else %}
                нет фото
            {% endif %}
        </div>
    </div>
</div>