<div class="w-full lg:w-1/2">
    <div class="flex items-center justify-center p-2 lg:mr-2 mb-2 lg:mb-0 border border-gray-600 rounded">
        <div class="flex items-center company-card-logo" title="">
            <img src="{{ item.logo }}" class="object-fill">
        </div>
        <div class="leading-normal">
            <div class="ml-2">
                <h3 class="text-lg">{{ item.title }}</h3>
            </div>
        </div>
    </div>
</div>